.fullscreen-content {
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  inset: 0;
  container-type: inline-size;
  container-name: lucid-fullscreen;
  backdrop-filter: blur(8px);
}
// .LucidFullscreenPortal {
//   &::backdrop {
//     display: none;
//     background: transparent;
//   }
// }
