.lucid-background {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;

  .bg-img,
  .bg-anim,
  .bg-color {
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .bg-animated {
    display: block;
    height: 100%;
    width: 100%;
  }
  .bg-img {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }

  .bg-prev {
    z-index: 1;
    opacity: 1;
  }

  .bg-current {
    z-index: 2;
    opacity: 1;
  }
  .is-blending {
    animation: smoothCrossfade 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  }

  @keyframes smoothCrossfade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
