@use "../variables" as v;

.lyrics-loading {
  --top-pad: calc(50cqh - 12rem);
  --shimmer-base: rgba(255, 255, 255, 0.1);
  --shimmer-highlight: rgba(255, 255, 255, 0.4);

  height: calc(100% - var(--top-pad));
  width: 100%;
  position: relative;
  top: var(--top-pad);
  overflow: hidden;
  z-index: 99;
  margin-top: auto;
  border-radius: 0.5cqw;
  transform: scaleX(1.09);

  .loading-svg {
    color: rgba(255, 255, 255, 0.8);
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 1) 75%
    );
    mask-size: 200% 100%;
    animation: lucid-shimmer 2s infinite linear;
  }

  .npv-lyrics-root & {
    --top-pad: #{v.$space-md};
  }

  @container lucid-page (max-width: #{v.$mobile-breakpoint}) {
    --top-pad: 2rem;
  }
}

@keyframes lucid-shimmer {
  from {
    mask-position: 150% 0;
  }
  to {
    mask-position: -50% 0;
  }
}
